# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

#All Qemu files
_cat
_echo
_forktest
_grep
_init
_kill
_ln
_ls
_mkdir
_rm
_sh
_stressfs
_usertests
_wc
_zombie
bio.d
bootasm.d
bootblock
bootblock.asm
bootmain.d
cat.asm
cat.d
cat.sym
console.d
echo.asm
echo.d
echo.sym
entryother
entryother.asm
entryother.d
exec.d
file.d
forktest.asm
forktest.d
fs.d
fs.img
grep.asm
grep.d
grep.sym
ide.d
init.asm
init.d
init.sym
initcode
initcode.asm
initcode.d
ioapic.d
kalloc.d
kbd.d
kernel
kernel.asm
kernel.sym
kill.asm
kill.d
kill.sym
lapic.d
ln.asm
ln.d
ln.sym
log.d
ls.asm
ls.d
ls.sym
main.d
mkdir.asm
mkdir.d
mkdir.sym
mkfs
mp.d
picirq.d
pipe.d
printf.d
proc.d
rm.asm
rm.d
rm.sym
sh.asm
sh.d
sh.sym
spinlock.d
stressfs.asm
stressfs.d
stressfs.sym
string.d
syscall.d
sysfile.d
sysproc.d
timer.d
trap.d
uart.d
ulib.d
umalloc.d
usertests.asm
usertests.d
usertests.sym
vectors.S
vm.d
wc.asm
wc.d
wc.sym
xv6.img
zombie.asm
zombie.d
zombie.sym

